#main-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 35px;
    padding: 35px 0;
    max-width: 1000px;

    @media screen and (max-width: 1000px) {
        width: 90%;
    }
    

    
  
    #search-image-section  {
        background-color: white;
        border-radius: 8px;
        padding: 4px;
        width: 250px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
        button {
            background-color: transparent;
            border: 0;
            display: inline;
        }
        input {
            font-size: 1.15rem;
            padding: 3px;
            margin: 0;
            border: 0;
            
            outline: none;
        }
    }

    p {
        max-width: 1000px;
        margin: 0 auto;
        padding-left: 20px;
    }

    #search-results-wrapper {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 20px;
        padding: 15px;
        justify-content:center;
        max-width: 1000px;
        margin: 0 auto;
        
        .image-card {
            width: 220px;
            margin: auto 0;
            display: flex;
            flex-direction: column;

            img {
                margin: auto;
            }
            p {
                text-align: justify;
                padding: 10px;
            }
        }
    }

    #pagination-section {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 30px;
        
    }
  
}