/* color palette from <https://github.com/vuejs/theme> */

/* import fonts */
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;500;700&family=Lora:wght@500;700&family=Montserrat:ital,wght@0,300;0,500;0,700;1,300;1,500;1,700&family=Open+Sans:ital,wght@0,300;0,500;0,700;1,300;1,500;1,700&family=Quicksand:wght@500;700&family=Raleway:wght@300;500;700&family=Roboto+Mono:wght@300;500;700&family=Roboto:ital,wght@0,300;0,500;0,700;1,300;1,500;1,700&family=Work+Sans:wght@300;500;700&display=swap');

// colors
$pastel-green: #d0f4de;
$pastel-gray1: #e7e5e5;
$pastel-gray2: #858383;
$pastel-gray3: #6e6d6d;
$pastel-beige: #fcf6bd;
$pastel-blue: #ccebfa;
$dark-red: #bc4749;
$dark-green: #386641;
$dark-blue: #176883;
$dark-blue2: #2180a0;
$orange-1: #ee9b00;

// global styles
* {
    font-family: "Monserrat", "Work Sans", "Roboto", sans-serif;
}

h1, h2, h4 {
    font-family: "Quicksand", "Inconsolata", "Lora", sans-serif;
}

h1 {
    font-size: 1.8rem;
}

h2 {
    font-size: 1.5rem;
    text-align: center;
}

h4 {
    font-size: 1.25rem;
}

// hide the elements with this tag when not in mobile viewport


// an easy way to make appear or disappear unwanted elements on mobile, to make it responsive
@media screen and (max-width: 500px) {
    
}


// layout specific styles

body {
    #navbar {
        background-color: $pastel-blue;
        

        #nav-links-wrapper {
            font-size: 1.4rem;

            li {
                
                a {
                    color: black; 
                    text-decoration: none;
                }

                a:hover {
                    color: $dark-blue; 

                }
            }

            #search-bar-wrapper {
                border: $dark-blue solid 3px;
                input {
                    font-size: 1.2rem;
                }
            }
            #search-bar-wrapper:hover  {
                border: 4px $dark-blue solid;
            }
        }

    }

    #results-section {
        border-radius: 20px;
        border: $dark-blue solid 3px;
        // padding: 20px 0;
        
        #search-results-title {
            background-color: $pastel-gray1;
            padding: 20px;
            font-size: 1.3rem;
            border-top-right-radius: 17px;
            border-top-left-radius: 17px;

        }

               
    }

    #main-container {

        #search-results-title {
            border-bottom: $dark-blue solid 3px;

        }
        
        #search-image-section {
            border: $dark-blue solid 3px;

        }

        #search-image-section:hover  {
            border: 4px $dark-blue solid;
        }

        #search-results-wrapper {
            .image-card {
                p {
                    a {
                        text-decoration: none;
                        color: black;
                        font-size: 1.1rem;
                    }

                    a:hover {
                        color: $dark-blue;
                    }
                }
            }
        }



        #pagination-section {
            
            span {
                a {
                    font-size: 1.3rem;
                    color: black;
                    text-decoration: none;
                }
    
                a:hover {
                    color: $dark-blue;
                }

                .grayed-out {
                    color: $pastel-gray3;
                    font-size: 1.3rem;
                }
                
            }


    
        }
    }

    #about-main-container {
        text-align: justify;
        
        p {
            font-size: 1.25rem;
        }
    }

    #image-view-container {
    
        #error-page {
            font-size: 1.6rem;
            text-align: center;
        }

        #get-image-data-wrapper {
            #image-section {
                border: $dark-blue 3px solid;
            }

            #image-description-section {
                background-color: $pastel-gray1;
                border: $dark-blue 3px solid;
                display: flex;
                flex-direction: column;

                p {
                    font-size: 1.2rem;
                    span {
                        font-weight: 700;
                    }
    
                }

                button {
                    background-color: $dark-blue;
                    padding: 15px 25px;
                    border-radius: 15px;
                    border: none;
                    font-size: 1.2rem;
                    margin: 15px auto;
                    color: white;

                    
                }

                button:hover {
                    background-color: $dark-blue2;
                    cursor: pointer;
                }

            }
        }


    
    }
        
    

    #footer {
        p {
            font-size: 1.2rem;

            a {
                color: $dark-blue;
                font-size: 110%;
            }
        }
    }
}